USE [master]
GO
/****** Object:  Database [MingsEvents]    Script Date: 23/05/2025 13:04:48 ******/
CREATE DATABASE [MingsEvents]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MingsEvents', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MingsEvents.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MingsEvents_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MingsEvents_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MingsEvents].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MingsEvents]
GO
/****** Object:  Table [dbo].[Armchair]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armchair](
	[armchair_id] [int] IDENTITY(1,1) NOT NULL,
	[columns] [int] NOT NULL,
	[rows] [int] NOT NULL,
	[user_id] [int] NULL,
	[establish_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[armchair_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[send_date] [varchar](255) NULL,
	[user1_id] [int] NULL,
	[user2_id] [int] NULL,
 CONSTRAINT [pk_chats] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Establishment]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establishment](
	[establish_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[direction] [varchar](255) NOT NULL,
	[capacity] [int] NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[establish_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[price] [int] NOT NULL,
	[reserved_places] [int] NOT NULL,
	[photo] [varchar](255) NULL,
	[start_date] [varchar](255) NOT NULL,
	[end_date] [varchar](255) NOT NULL,
	[seating] [bit] NOT NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[establish_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NULL,
	[content] [nvarchar](255) NULL,
	[send_at] [varchar](255) NULL,
	[is_read] [bit] NULL,
	[chat_id] [int] NULL,
 CONSTRAINT [pk_messages] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve_Ticket]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve_Ticket](
	[armchair_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[reservation_date] [varchar](255) NULL,
	[event_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[armchair_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/05/2025 13:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[second_name] [varchar](150) NOT NULL,
	[phone] [int] NOT NULL,
	[password] [varchar](max) NOT NULL,
	[photo] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Armchair] ON 

INSERT [dbo].[Armchair] ([armchair_id], [columns], [rows], [user_id], [establish_id]) VALUES (321, 1, 1, NULL, 1)
INSERT [dbo].[Armchair] ([armchair_id], [columns], [rows], [user_id], [establish_id]) VALUES (322, 1, 1, NULL, 2)
INSERT [dbo].[Armchair] ([armchair_id], [columns], [rows], [user_id], [establish_id]) VALUES (323, 1, 1, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Armchair] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([chat_id], [send_date], [user1_id], [user2_id]) VALUES (1, N'2025-05-01', 1, 2)
INSERT [dbo].[Chat] ([chat_id], [send_date], [user1_id], [user2_id]) VALUES (2, N'2025-05-01', 2, 3)
INSERT [dbo].[Chat] ([chat_id], [send_date], [user1_id], [user2_id]) VALUES (13, NULL, 1, 22)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([city_id], [name]) VALUES (1, N'Paris')
INSERT [dbo].[City] ([city_id], [name]) VALUES (2, N'London')
INSERT [dbo].[City] ([city_id], [name]) VALUES (3, N'Rome')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Establishment] ON 

INSERT [dbo].[Establishment] ([establish_id], [name], [direction], [capacity], [city_id]) VALUES (1, N'Cinema A', N'123 Main St', 100, 1)
INSERT [dbo].[Establishment] ([establish_id], [name], [direction], [capacity], [city_id]) VALUES (2, N'Theater B', N'456 Oak Rd', 200, 2)
INSERT [dbo].[Establishment] ([establish_id], [name], [direction], [capacity], [city_id]) VALUES (3, N'Stadium C', N'789 Elm St', 500, 3)
SET IDENTITY_INSERT [dbo].[Establishment] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([event_id], [name], [price], [reserved_places], [photo], [start_date], [end_date], [seating], [descripcion], [establish_id]) VALUES (6, N'Concert A', 50, 10, N'/Images/EventPhotos/6', N'2025-05-10', N'2025-05-11', 1, N'Great music', 1)
INSERT [dbo].[Event] ([event_id], [name], [price], [reserved_places], [photo], [start_date], [end_date], [seating], [descripcion], [establish_id]) VALUES (7, N'Play B', 30, 20, N'/Images/EventPhotos/7.jpg', N'2025-06-01', N'2025-06-02', 1, N'Dramatic play', 2)
INSERT [dbo].[Event] ([event_id], [name], [price], [reserved_places], [photo], [start_date], [end_date], [seating], [descripcion], [establish_id]) VALUES (8, N'Match C', 100, 50, NULL, N'2025-07-15', N'2025-07-15', 0, N'Football match', 3)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([message_id], [sender_id], [content], [send_at], [is_read], [chat_id]) VALUES (10, 3, N'041AgbJe/sVOqUJgmGm1Bw==', N'19/05/2025 16:03:40', 0, 2)
INSERT [dbo].[Message] ([message_id], [sender_id], [content], [send_at], [is_read], [chat_id]) VALUES (11, 3, N'qMrGalJK90CvqGZq/h79wg==', N'19/05/2025 16:08:32', 0, 2)
INSERT [dbo].[Message] ([message_id], [sender_id], [content], [send_at], [is_read], [chat_id]) VALUES (12, 3, N'qMrGalJK90CvqGZq/h79wg==', N'19/05/2025 16:09:52', 0, 2)
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
INSERT [dbo].[Reserve_Ticket] ([armchair_id], [user_id], [reservation_date], [event_id]) VALUES (369, 7, N'5/22/2025 12:00:00 AM', 14)
INSERT [dbo].[Reserve_Ticket] ([armchair_id], [user_id], [reservation_date], [event_id]) VALUES (546, 7, N'5/22/2025 12:00:00 AM', 14)
INSERT [dbo].[Reserve_Ticket] ([armchair_id], [user_id], [reservation_date], [event_id]) VALUES (553, 7, N'5/22/2025 12:00:00 AM', 14)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [name]) VALUES (5, N'manager')
INSERT [dbo].[Role] ([role_id], [name]) VALUES (6, N'superAdmin')
INSERT [dbo].[Role] ([role_id], [name]) VALUES (7, N'normal')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [name], [second_name], [phone], [password], [photo], [email], [role_id]) VALUES (1, N'John', N'Doe', 123456789, N'pass123', N'', N'john@example.com', 5)
INSERT [dbo].[Users] ([user_id], [name], [second_name], [phone], [password], [photo], [email], [role_id]) VALUES (2, N'Ann0', N'Smith', 234567890, N'qwerty', N'/Images/ProfilePictures/2.jpg', N'anna@example.com', 5)
INSERT [dbo].[Users] ([user_id], [name], [second_name], [phone], [password], [photo], [email], [role_id]) VALUES (3, N'Mike', N'Lee', 345678901, N'abc123', NULL, N'mike@example.com', 5)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61648EE676EF]    Script Date: 23/05/2025 13:04:48 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Armchair]  WITH CHECK ADD FOREIGN KEY([establish_id])
REFERENCES [dbo].[Establishment] ([establish_id])
GO
ALTER TABLE [dbo].[Armchair]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([user1_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([user2_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Establishment]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City] ([city_id])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([establish_id])
REFERENCES [dbo].[Establishment] ([establish_id])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [fk_messages_chat] FOREIGN KEY([chat_id])
REFERENCES [dbo].[Chat] ([chat_id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [fk_messages_chat]
GO
ALTER TABLE [dbo].[Reserve_Ticket]  WITH CHECK ADD FOREIGN KEY([armchair_id])
REFERENCES [dbo].[Armchair] ([armchair_id])
GO
ALTER TABLE [dbo].[Reserve_Ticket]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[Event] ([event_id])
GO
ALTER TABLE [dbo].[Reserve_Ticket]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
USE [master]
GO
